* {
  margin: 0;
  padding: 0;
  line-height: normal;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

#header-area {
  width: 1024px;
  height: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
}

body {
  height: 100vh;
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}
